/* assets/css/main.css */
body {
  font-family: Roboto, sans-serif;
  background-color: #C0C0C0;
  color: #000000;
 /* text-align: center; */
}

header {
  text-align: center; /* Options: left, center, right, justify */
  background-color: #C0C0C0;
  color: #000000;
  padding: 10px;
}

nav {
  text-align: left; /* Aligns the navigation content to the left */
  margin: 0 auto; /* Centers the nav bar container within its parent if needed */
  padding: 10px; /* Optional: Adds some spacing inside the nav bar */
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #000000;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}